[submodule "deps/jsstyle"]
	path = deps/jsstyle
	url = https://github.com/TritonDataCenter/jsstyle.git
[submodule "deps/sdc-scripts"]
	path = deps/sdc-scripts
	url = https://github.com/TritonDataCenter/sdc-scripts.git
[submodule "deps/restdown"]
	path = deps/restdown
	url = https://github.com/TritonDataCenter/restdown.git
[submodule "deps/restdown-brand-remora"]
	path = deps/restdown-brand-remora
	url = https://github.com/TritonDataCenter/restdown-brand-remora.git
[submodule "deps/eng"]
	path = deps/eng
	url = https://github.com/TritonDataCenter/eng.git
